# list sources, sinks, and channels in the agent
a1.sources = twitter
a1.channels = {{ ','.join(['chan-%s' % a['name'] for a in agents }}
a1.sources.twitter.channels = {{ ','.join(['chan-%s' % a['name'] for a in agents }}
a1.sinks = {{ ','.join(['sink-%s' % a['name'] for a in agents }}

# source properties
a1.sources.twitter.type = {{ config['twitter_source'] }}
a1.sources.twitter.consumerKey = {{ config['twitter_consumer_key'] }}
a1.sources.twitter.consumerSecret = {{ config['twitter_consumer_secret'] }}
a1.sources.twitter.accessToken = {{ config['twitter_access_token'] }}
a1.sources.twitter.accessTokenSecret = {{ config['twitter_access_token_secret'] }}
a1.sources.twitter.maxBatchSize = {{ config['twitter_max_batch_size'] }}
a1.sources.twitter.maxBatchDurationMillis = {{ config['twitter_max_batch_duration'] }}

# inject our configured subdir
a1.sources.twitter.interceptors = i1
a1.sources.twitter.interceptors.i1.type = static
a1.sources.twitter.interceptors.i1.key = event_dir
a1.sources.twitter.interceptors.i1.value = {{ config['event_dir'] }}

{% for agent in agents %}
# channel properties
a1.channels.chan-{{ agent['name'] }}.type = memory
a1.channels.chan-{{ agent['name'] }}.capacity = {{ config['channel_capacity']}}
a1.channels.chan-{{ agent['name'] }}.transactionCapacity = {{ config['channel_transaction_capacity']}}

# sink properties
a1.sinks.sink-{{ agent['name'] }}.type = {{ agent['protocol'] }}
a1.sinks.sink-{{ agent['name'] }}.channel = chan-{{ agent['name'] }}
a1.sinks.sink-{{ agent['name'] }}.hostname = {{ agent['host'] }}
a1.sinks.sink-{{ agent['name'] }}.port = {{ agent['port'] }}
{% endfor %}
