# list sources, sinks, and channels in the agent
a1.sources = r1
a1.sinks = k1
a1.channels = c1

# source properties
a1.sources.r1.type = {{ config['twitter_source'] }}
a1.sources.r1.channels = c1
a1.sources.r1.consumerKey = {{ config['twitter_consumer_key'] }}
a1.sources.r1.consumerSecret = {{ config['twitter_consumer_secret'] }}
a1.sources.r1.accessToken = {{ config['twitter_access_token'] }}
a1.sources.r1.accessTokenSecret = {{ config['twitter_access_token_secret'] }}
a1.sources.r1.maxBatchSize = {{ config['twitter_max_batch_size'] }}
a1.sources.r1.maxBatchDurationMillis = {{ config['twitter_max_batch_duration'] }}

# inject our configured subdir
a1.sources.r1.interceptors = i1
a1.sources.r1.interceptors.i1.type = static
a1.sources.r1.interceptors.i1.key = event_dir
a1.sources.r1.interceptors.i1.value = {{ config['event_dir'] }}

# channel properties
a1.channels.c1.type = memory
a1.channels.c1.capacity = {{ config['channel_capacity']}}
a1.channels.c1.transactionCapacity = {{ config['channel_transaction_capacity']}}

# sink properties
a1.sinks.k1.type = {{ flume_hdfs['protocol'] }}
a1.sinks.k1.channel = c1
a1.sinks.k1.hostname = {{ flume_hdfs['private-address'] }}
a1.sinks.k1.port = {{ flume_hdfs['port'] }}
